


<div class="container" style="overflow:hidden;">



<img src="{{movieinfo.Poster}}" style="width:300px;height:400px;float: left;">






<div>
<form class="form" name="myFormBook" style="margin-left: 35%;" ng-submit="add()">


    <label>Movie title</label>

    <h4>{{movieinfo.Film}}</h4>

<label>Select City</label>
<select id="select" class="form-control" style="width:30%;"ng-model="book.CityName" ng-change="sel()" required>
        <option ng-repeat="l in locMovie" value="{{l}}" >{{l}}</option>
  </select>


<label>Select Theater</label>
<select ng-model="book.HallName" class="form-control" style="width: 30%;"   required>
        <option ng-repeat="t in loctheat" value="{{t}}">{{t}}</option>
  </select>

<label>Select Date</label>
<select ng-model="book.Day" class="form-control" style="width: 30%;" ng-change="tick()"   required>
          <option ng-repeat="map in maplist|filter:movieinfo.Film|filter:book.HallName|unique:'From'" value="{{map.From}}">{{map.From}}</option>
    </select>

 <label>Select Show Time</label>

  <select ng-model="book.ShowTime"class="form-control" style="width:30%;" ng-change="showseat()" required>
        <option ng-repeat="s in Showtime" value="{{s}}">{{s}}</option>
  </select>

<b>Amount</b>

    <p>150</p>




      <button type="submit" ng-disabled="myFormBook.$invalid" class="btn btn-primary">Done</button>

</form>
</div>






<div  ng-show="seat">
<table class="seatLayout"style="margin-top:1%;">

      <div style="margin-left:5%;margin-top:7%;">
        <img src="img/seat2.gif" style="width:30px;height:30px;">Available
        <img src="img/seat1.gif" style="width:30px;height:30px;">Reserved
      </div>
    <tbody>
      <tr>
            <td></td>
            <td ng-repeat="col in cols track by $index" ng-bind="col"></td>
        </tr>
        <tr class="tablestyle" ng-repeat="row in rows">
            <td ng-bind="row"></td>
            <td ng-repeat="col in cols" ng-click="seatClicked(row + col)"  ng-switch on="getStatus(row + col)" ng-disabled="disableSeat" style="padding: 5px 5px 5px 5px;">
                <img ng-switch-when="selected" src="img/seat1.gif" style="width:25px;height:25px;">
                <img ng-switch-when="reserved" src="img/seat1.gif" style="width:25px;height:25px;">
                <img ng-switch-default src="img/seat2.gif" style="width:25px;height:25px;">
                <!-- <img id="myImage" ng-switch-default src="img/seat2.gif" style="width:25px;height:25px;"> -->

            </td>
        </tr>
        </tbody>
        </table>

<div style="background-color:black;width:31%;">
<h4 style="color:white;text-align:center">SCREEN</h4> </div>
<div class="table-responsive">
  <table class="table">
  <tr>
    <td><b>Seating Arrangement</b></td>
  <td><p id="seatno"></p></td>
  </tr>

  <tr>
    <td><b>No Of seats</b></td>
  <td><p>{{book.NumberOfSeats}}</p></td></tr>
  <!-- <tr>
    <td><b>booking id</b></td>
  <td><p><code id="output"></code></p></td>
  </tr> -->
  <tr>
<td>  <button ng-click="bk(Booklist)" class="btn btn-primary">Confirm</button></td>
</tr>
</table>
</div>
</div>
</div>
